button {
    -webkit-appearance: button;
    text-rendering: auto;
    color: rgb(255, 255, 255);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 1em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(4, 4, 4);
    border-image: initial;
}